BASE_MODEL=MX4T/Illustrious-XL-v2.0-diffusers
KAGGLE_API_TOKEN=
IP_ADAPTER_WEIGHT_NAME=ip-adapter-plus_sdxl_vit-h.safetensors
IP_ADAPTER_FACE_WEIGHT_NAME=ip-adapter-plus-face_sdxl_vit-h.safetensors
IP_ADAPTER_IMAGE_ENCODER_SUBFOLDER=models/image_encoder
MAX_QUEUE_SIZE=8
JOB_RETENTION_SECONDS=86400
MAX_COMPLETED_JOBS=200
